<h2 id='title'>ember-component-inbound-actions</h2>

{{name-form}}
{{address-form actionReceiver=addressForm}}

<button id="reset-from-action" {{action 'reset'}}>Reset</button>
<button id="send-from-template" {{action (send addressForm "reset" "param1" "param2")}}>
  Reset address (using `send` helper)
</button>
